# Dependencias
node_modules/
**/node_modules/

# Base de datos local
mysql-data/

# Variables de entorno
.env
.env.local
*.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Backups
*.bak
*.bak2
*.bak3
*.bak4
*.bak5
*.bak6
*.bak7
*.bak8
*.bak9
